# SPDX-License-Identifier: Apache-2.0
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-duplicate-include,
  readability-redundant-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|runtime|apps|platforms|tests)/'
FormatStyle: file
